.navbar-height{
    height: 80px;
}

.navbar-container{
    margin-bottom: -80px;
}

.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar[data-sticky=top].scrolled {
    border-top: 3px solid #1a73e8;
    border-bottom: 2px solid #e9e9e9;
}

.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar.navbar-expand-lg {
    line-height: 2.5;
}

.navbar .navbar-brand img{
    max-height: 50px;
}

.navbar[data-sticky=top].navbar-light:not(.navbar-toggled-show) .logo-dark{
    display: none;
}

.navbar[data-sticky=top].navbar-light .logo-light{
    display: block;
}

.navbar[data-sticky=top].scrolled.navbar-light .logo-dark{
    display: block;
}

.navbar[data-sticky=top].scrolled.navbar-light .logo-light,
.navbar[data-sticky=top]:not(.scrolled).navbar-light.navbar-toggled-show .logo-light{
    display: none;
}

.navbar[data-sticky=top]:not(.scrolled).navbar-light .navbar-nav .nav-link,
.navbar[data-sticky=top]:not(.scrolled).navbar-light .nav-link{
    /*color: rgba(255, 255, 255, .75);*/
    color: #fff;
}

.navbar[data-sticky=top]:not(.scrolled){
    background: rgba(0,0,0,0.2)
}

.navbar[data-sticky=top] .nav-link{
    border-bottom: 2px dotted transparent;
    transition: border-bottom-color .15s ease-out;
}

.navbar[data-sticky=top]:not(.scrolled).navbar-light .navbar-nav .nav-link:hover{
    /*color: rgba(255, 255, 255, .95);*/
    border-bottom-color: #fff;
}

.navbar[data-sticky=top].scrolled.navbar-light .navbar-nav .nav-link,
.navbar[data-sticky=top]:not(.scrolled).navbar-light.navbar-toggled-show .navbar-nav .nav-link{
    /*color: rgba(0, 0, 0, .5);*/
    color: #444;
}

.navbar[data-sticky=top].scrolled.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(0, 0, 0, .8);
    border-bottom-color: #000;
}

.navbar[data-sticky=top].scrolled{
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar:not(.scrolled).navbar-light:not(.navbar-toggled-show) .navbar-toggler svg path{
    fill: #fff;
}

.navbar[data-sticky=top]:not(.scrolled).navbar-light.navbar-toggled-show{
    background: #fff !important;
}

.navbar .dropdown-item{
    color: #585f67;
    padding: .5rem 1.5rem;
    font-size: .9rem;
}

.navbar .dropdown-item:hover{
    color: #1a73e8;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link{
        margin-right: 1.2rem;
        margin-left: 1.2rem;
        padding-right: 0;
        padding-left: 0;
    }
}

.irs--theme .irs-line{
    height: 6px;
    border-radius: 10px;
    background: #e9e9e9;
    top: 27px;
}

@media (max-width: 991.98px){
    .navbar-collapse{
        overflow-y: hidden;
        width: 100%;
    }

    .navbar-collapse.show{
        overflow-y: auto;
    }
}

















.scale-01{transform: scale(0.1);}
.scale-02{transform: scale(0.2);}
.scale-03{transform: scale(0.3);}
.scale-04{transform: scale(0.4);}
.scale-05{transform: scale(0.5);}
.scale-06{transform: scale(0.6);}
.scale-07{transform: scale(0.7);}
.scale-08{transform: scale(0.8);}
.scale-09{transform: scale(0.9);}
.scale-1{transform: scale(1);}
.scale-2{transform: scale(2);}
.scale-3{transform: scale(3);}
.scale-4{transform: scale(4);}
.scale-5{transform: scale(5);}

.display-5{font-size: 2.8rem;}
.display-6{font-size: 2.5rem;}
.display-7{font-size: 2.2rem;}
.display-8{font-size: 2rem;}
.display-9{font-size: 1.8rem;}
.display-10{font-size: 1.5rem;}
.display-11{font-size: 1.4rem;}
.display-12{font-size: 1.3rem;}
.display-13{font-size: 1.2rem;}
.display-14{font-size: 1.1rem;}
.display-15{font-size: 1.05rem;}

.z-0{z-index: 0;}
.z-1{z-index: 1;}
.z-10{z-index: 10;}
.z-20{z-index: 20;}
.z-30{z-index: 30;}
.z-40{z-index: 40;}
.z-50{z-index: 50;}
.z-60{z-index: 60;}
.z-70{z-index: 70;}
.z-80{z-index: 80;}
.z-90{z-index: 90;}
.z-100{z-index: 100;}
.z-200{z-index: 200;}
.z-300{z-index: 300;}
.z-500{z-index: 500;}
.z-1000{z-index: 1000;}
.z-2000{z-index: 2000;}
.z-3000{z-index: 3000;}
.z-4000{z-index: 4000;}
.z-5000{z-index: 5000;}
.z-6000{z-index: 6000;}
.z-7000{z-index: 7000;}
.z-8000{z-index: 8000;}
.z-9000{z-index: 9000;}
.z-10000{z-index: 10000;}

.z-n1{z-index: -1;}
.z-n10{z-index: -10;}
.z-n20{z-index: -20;}
.z-n30{z-index: -30;}
.z-n40{z-index: -40;}
.z-n50{z-index: -50;}
.z-n60{z-index: -60;}
.z-n70{z-index: -70;}
.z-n80{z-index: -80;}
.z-n90{z-index: -90;}
.z-n100{z-index: -100;}
.z-n200{z-index: -200;}
.z-n300{z-index: -300;}
.z-n500{z-index: -500;}

.mb-n05, .my-n05   {margin-bottom: -.250rem!important}
.mb-n8, .my-n8   {margin-bottom: -7rem!important}
.mb-n9, .my-n9   {margin-bottom: -8rem!important}
.mb-n10, .my-n10 {margin-bottom: -9rem!important}
.mb-n15, .my-n15 {margin-bottom: -14rem!important}
.mb-n20, .my-n20 {margin-bottom: -19rem!important}
.mb-n25, .my-n25 {margin-bottom: -24rem!important}
.mb-n30, .my-n30 {margin-bottom: -29rem!important}
.mb-n32, .my-n32 {margin-bottom: -32rem!important}
.mb-n34, .my-n34 {margin-bottom: -34rem!important}
.mb-n36, .my-n36 {margin-bottom: -36rem!important}
.mb-n40, .my-n40 {margin-bottom: -39rem!important}
.mb-n50, .my-n50 {margin-bottom: -49rem!important}

.mt-n05, .my-n05   {margin-top: -.250rem!important}
.mt-n8, .my-n8   {margin-top: -7rem!important}
.mt-n9, .my-n9   {margin-top: -8rem!important}
.mt-n10, .my-n10 {margin-top: -9rem!important}
.mt-n15, .my-n15 {margin-top: -14rem!important}
.mt-n20, .my-n20 {margin-top: -19rem!important}
.mt-n25, .my-n25 {margin-top: -24rem!important}
.mt-n30, .my-n30 {margin-top: -29rem!important}
.mt-n32, .my-n32 {margin-top: -32rem!important}
.mt-n34, .my-n34 {margin-top: -34rem!important}
.mt-n36, .my-n36 {margin-top: -36rem!important}
.mt-n40, .my-n40 {margin-top: -39rem!important}
.mt-n50, .my-n50 {margin-top: -49rem!important}

.mb-05, .my-05   {margin-bottom: .250rem!important}
.mb-8, .my-8   {margin-bottom: 7rem!important}
.mb-9, .my-9   {margin-bottom: 8rem!important}
.mb-10, .my-10 {margin-bottom: 9rem!important}
.mb-15, .my-15 {margin-bottom: 14rem!important}
.mb-20, .my-20 {margin-bottom: 19rem!important}
.mb-25, .my-25 {margin-bottom: 24rem!important}
.mb-30, .my-30 {margin-bottom: 29rem!important}
.mb-32, .my-32 {margin-bottom: 32rem!important}
.mb-34, .my-34 {margin-bottom: 34rem!important}
.mb-36, .my-36 {margin-bottom: 36rem!important}
.mb-40, .my-40 {margin-bottom: 39rem!important}
.mb-50, .my-50 {margin-bottom: 49rem!important}

.mt-05, .my-05   {margin-top: .250rem!important}
.mt-8, .my-8   {margin-top: 7rem!important}
.mt-9, .my-9   {margin-top: 8rem!important}
.mt-10, .my-10 {margin-top: 9rem!important}
.mt-15, .my-15 {margin-top: 14rem!important}
.mt-20, .my-20 {margin-top: 19rem!important}
.mt-25, .my-25 {margin-top: 24rem!important}
.mt-30, .my-30 {margin-top: 29rem!important}
.mt-32, .my-32 {margin-top: 32rem!important}
.mt-34, .my-34 {margin-top: 34rem!important}
.mt-36, .my-36 {margin-top: 36rem!important}
.mt-40, .my-40 {margin-top: 39rem!important}
.mt-50, .my-50 {margin-top: 49rem!important}

svg.bg-primary-3-alt * {
    fill: #e7eaea;
}

.btn{
    /*border-radius: 100px;*/
}

.irs--theme .irs-bar {
    height: 12px;
    top: 24px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    line-height: normal;
}

.text-large{font-size: 1.15rem;}
.text-larger{font-size: 1.25rem;}
.text-largest{font-size: 1.4rem;}

.accordion-panel-title .h6+.icon.icon-md {
    height: 2.25rem
}

.accordion-panel-title .h6+.icon.icon-lg {
    height: 3rem
}

.accordion-panel-title .h6+.icon.icon-sm {
    height: .75rem
}

.hover-box-shadow:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.09);
    transform: translateY(-.5rem);
}

.view-more-content{
    display: none;
}

.pricing-table.pricing-table-compact td,
.pricing-table.pricing-table-compact th {
    padding: 0.7rem
}

.width-0 {width: 0;}
.width-10 {width: 10%;}
.width-20 {width: 20%;}
.width-30 {width: 30%;}
.width-40 {width: 40%;}
.width-50 {width: 50%;}
.width-60 {width: 60%;}
.width-70 {width: 70%;}
.width-80 {width: 80%;}
.width-90 {width: 90%;}
.width-100 {width: 100%;}

.height-0 {height: 0;}
.height-10 {height: 10%;}
.height-20 {height: 20%;}
.height-30 {height: 30%;}
.height-40 {height: 40%;}
.height-50 {height: 50%;}
.height-60 {height: 60%;}
.height-70 {height: 70%;}
.height-80 {height: 80%;}
.height-90 {height: 90%;}
.height-100 {height: 100%;}

.radius-0 {border-radius:0%!important;}
.radius-10 {border-radius:10%!important;}
.radius-20 {border-radius:20%!important;}
.radius-30 {border-radius:30%!important;}
.radius-40 {border-radius:40%!important;}
.radius-50 {border-radius:50%!important;}
.radius-60 {border-radius:60%!important;}
.radius-70 {border-radius:70%!important;}
.radius-80 {border-radius:80%!important;}
.radius-90 {border-radius:90%!important;}

.radius-3p {border-radius:3px!important;}
.radius-5p {border-radius:5px!important;}
.radius-8p {border-radius:8px!important;}
.radius-10p {border-radius:10px!important;}
.radius-20p {border-radius:20px!important;}
.radius-30p {border-radius:30px!important;}
.radius-40p {border-radius:40px!important;}
.radius-50p {border-radius:50px!important;}
.radius-60p {border-radius:60px!important;}
.radius-70p {border-radius:70px!important;}
.radius-80p {border-radius:80px!important;}
.radius-90p {border-radius:90px!important;}
.radius-100p {border-radius:100px!important;}

@media (min-width:576px) {
    .width-sm-0 {width: 0;}.width-sm-10 {width: 10%;}.width-sm-20 {width: 20%;}.width-sm-30 {width: 30%;}.width-sm-40 {width: 40%;}.width-sm-50 {width: 50%;}.width-sm-60 {width: 60%;}.width-sm-70 {width: 70%;}.width-sm-80 {width: 80%;}.width-sm-90 {width: 90%;}.width-sm-100 {width: 100%;}
    .height-sm-0 {height: 0;}.height-sm-10 {height: 10%;}.height-sm-20 {height: 20%;}.height-sm-30 {height: 30%;}.height-sm-40 {height: 40%;}.height-sm-50 {height: 50%;}.height-sm-60 {height: 60%;}.height-sm-70 {height: 70%;}.height-sm-80 {height: 80%;}.height-sm-90 {height: 90%;}.height-sm-100 {height: 100%;}
}

@media (min-width:768px) {
    .width-md-0 {width: 0;}.width-md-10 {width: 10%;}.width-md-20 {width: 20%;}.width-md-30 {width: 30%;}.width-md-40 {width: 40%;}.width-md-50 {width: 50%;}.width-md-60 {width: 60%;}.width-md-70 {width: 70%;}.width-md-80 {width: 80%;}.width-md-90 {width: 90%;}.width-md-100 {width: 100%;}
    .height-md-0 {height: 0;}.height-md-10 {height: 10%;}.height-md-20 {height: 20%;}.height-md-30 {height: 30%;}.height-md-40 {height: 40%;}.height-md-50 {height: 50%;}.height-md-60 {height: 60%;}.height-md-70 {height: 70%;}.height-md-80 {height: 80%;}.height-md-90 {height: 90%;}.height-md-100 {height: 100%;}
}

@media (min-width: 992px){
    .width-lg-0 {width: 0;}.width-lg-10 {width: 10%;}.width-lg-20 {width: 20%;}.width-lg-30 {width: 30%;}.width-lg-40 {width: 40%;}.width-lg-50 {width: 50%;}.width-lg-60 {width: 60%;}.width-lg-70 {width: 70%;}.width-lg-80 {width: 80%;}.width-lg-90 {width: 90%;}.width-lg-100 {width: 100%;}
    .height-lg-0 {height: 0;}.height-lg-10 {height: 10%;}.height-lg-20 {height: 20%;}.height-lg-30 {height: 30%;}.height-lg-40 {height: 40%;}.height-lg-50 {height: 50%;}.height-lg-60 {height: 60%;}.height-lg-70 {height: 70%;}.height-lg-80 {height: 80%;}.height-lg-90 {height: 90%;}.height-lg-100 {height: 100%;}
}

@media (min-width: 1200px){
    .width-xl-0 {width: 0;}.width-xl-10 {width: 10%;}.width-xl-20 {width: 20%;}.width-xl-30 {width: 30%;}.width-xl-40 {width: 40%;}.width-xl-50 {width: 50%;}.width-xl-60 {width: 60%;}.width-xl-70 {width: 70%;}.width-xl-80 {width: 80%;}.width-xl-90 {width: 90%;}.width-xl-100 {width: 100%;}
    .height-xl-0 {height: 0;}.height-xl-10 {height: 10%;}.height-xl-20 {height: 20%;}.height-xl-30 {height: 30%;}.height-xl-40 {height: 40%;}.height-xl-50 {height: 50%;}.height-xl-60 {height: 60%;}.height-xl-70 {height: 70%;}.height-xl-80 {height: 80%;}.height-xl-90 {height: 90%;}.height-xl-100 {height: 100%;}
}

.scrollbar-invisible::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.f-right{float: right;}
.f-left{float: left;}
.f-none{float: none;}

.rotate-90{transform: rotate(90deg)}
.rotate-n90{transform: rotate(-90deg)}
.rotate-180{transform: rotate(180deg)}

@media (max-width:575px) {.mw-100p{max-width: 100%;}}
@media (min-width:576px) and (max-width:767px) {.mw-sm-100p{max-width: 100%;}}
@media (min-width:768px) and (max-width: 991px) {.mw-md-100p{max-width: 100%;}}
@media (min-width: 992px) and (max-width: 1199px) {.mw-lg-100p{max-width: 100%;}}
@media (min-width: 1200px) {.mw-xl-100p{max-width: 100%;}}

/*@media(min-width:576px) {.mw-sm-default {max-width: 540px}}*/
/*@media(min-width:768px) {.mw-md-default {max-width: 720px}}*/
/*@media(min-width:992px) {.mw-lg-default {max-width: 960px}}*/
/*@media(min-width:1200px) {.mw-xl-default {max-width: 1140px}}*/

















#pricing-comparison th{
    font-weight: normal;
    font-size: 0.9rem;
    padding: 0.7em;
    min-width: 200px;
    border-bottom: none;
}

#pricing-comparison td{
    padding: 0.7em;
    min-width: 90px;
}

#pricing-comparison .header-sticky.position-fixed{
    padding-top: 58px !important;
}

#pricing-comparison .container {
    width: 100%;
    max-width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    #pricing-comparison .header-sticky.position-fixed{
        padding-top: 58px !important;
    }
}

@media (min-width:1200px) {
    #pricing-comparison .container {
        max-width: 1140px
    }

    #pricing-comparison .header-sticky.position-fixed{
        padding-top: 58px !important;
    }
}








#beforeAfter{
    min-height: 500px;
}

.before-after-item, .before-after-item-main{
    position: absolute;
}

.before-after-item{
    top: 15px;
}

.before-after-item-main{
    margin-right: -250px;
    opacity: 0;
    -webkit-transform: scale(1.2) translateY(100px);
    -moz-transform: scale(1.2) translateY(100px);
    -ms-transform: scale(1.2) translateY(100px);
    -o-transform: scale(1.2) translateY(100px);
    transform: scale(1.2) translateY(100px);
    z-index: 1;
}

.before-after-item-1{
    margin-right: -235px;
    -webkit-transform: translate(50px, -50px) rotate(-15deg);
    -moz-transform: translate(50px, -50px) rotate(-15deg);
    -ms-transform: translate(50px, -50px) rotate(-15deg);
    -o-transform: translate(50px, -50px) rotate(-15deg);
    transform: translate(50px, -50px) rotate(-15deg);
}

.before-after-item-2{
    margin-right: -75px;
    -webkit-transform: translate(50px, -50px) rotate(10deg);
    -moz-transform: translate(50px, -50px) rotate(10deg);
    -ms-transform: translate(50px, -50px) rotate(10deg);
    -o-transform: translate(50px, -50px) rotate(10deg);
    transform: translate(50px, -50px) rotate(10deg);
}

.before-after-item-3{
    margin-right: 85px;
    -webkit-transform: translate(-30px, -40px) rotate(20deg);
    -moz-transform: translate(-30px, -40px) rotate(20deg);
    -ms-transform: translate(-30px, -40px) rotate(20deg);
    -o-transform: translate(-30px, -40px) rotate(20deg);
    transform: translate(-30px, -40px) rotate(20deg);
}

.before-after-item-4{
    margin-right: -235px;
    top: 175px;
    -webkit-transform: translate(20px, 40px) rotate(20deg);
    -moz-transform: translate(20px, 40px) rotate(20deg);
    -ms-transform: translate(20px, 40px) rotate(20deg);
    -o-transform: translate(20px, 40px) rotate(20deg);
    transform: translate(20px, 40px) rotate(20deg);
}

.before-after-item-5{
    margin-right: -75px;
    top: 175px;
    -webkit-transform: translate(15px, -70px) rotate(-15deg);
    -moz-transform: translate(15px, -70px) rotate(-15deg);
    -ms-transform: translate(15px, -70px) rotate(-15deg);
    -o-transform: translate(15px, -70px) rotate(-15deg);
    transform: translate(15px, -70px) rotate(-15deg);
}

.before-after-item-6{
    margin-right: 85px;
    top: 175px;
    -webkit-transform: translate(-70px, -30px) rotate(-30deg);
    -moz-transform: translate(-70px, -30px) rotate(-30deg);
    -ms-transform: translate(-70px, -30px) rotate(-30deg);
    -o-transform: translate(-70px, -30px) rotate(-30deg);
    transform: translate(-70px, -30px) rotate(-30deg);
}

.before-after-item-7{
    margin-right: -235px;
    top: 335px;
    -webkit-transform: translate(100px, 40px) rotate(-35deg);
    -moz-transform: translate(100px, 40px) rotate(-35deg);
    -ms-transform: translate(100px, 40px) rotate(-35deg);
    -o-transform: translate(100px, 40px) rotate(-35deg);
    transform: translate(100px, 40px) rotate(-35deg);
}

.before-after-item-8{
    margin-right: -75px;
    top: 335px;
    -webkit-transform: translate(-30px, 30px) rotate(20deg);
    -moz-transform: translate(-30px, 30px) rotate(20deg);
    -ms-transform: translate(-30px, 30px) rotate(20deg);
    -o-transform: translate(-30px, 30px) rotate(20deg);
    transform: translate(-30px, 30px) rotate(20deg);
}

.before-after-item-9{
    margin-right: 85px;
    top: 335px;
    -webkit-transform: translate(-50px, 40px) rotate(-15deg);
    -moz-transform: translate(-50px, 40px) rotate(-15deg);
    -ms-transform: translate(-50px, 40px) rotate(-15deg);
    -o-transform: translate(-50px, 40px) rotate(-15deg);
    transform: translate(-50px, 40px) rotate(-15deg);
}

@media (max-width: 576px){
    #beforeAfter{
        min-height: 400px;
    }

    .before-after-item{
        max-width: 120px;
        width: 120px;
    }

    .before-after-item-main{
        margin-right: -165px;
        max-width: 400px;
        width: 400px;
        top: 10px;
    }

    .before-after-item-1, .before-after-item-4, .before-after-item-7{
        margin-right: -155px;
    }

    .before-after-item-2, .before-after-item-5, .before-after-item-8{
        margin-right: -25px;
    }

    .before-after-item-3, .before-after-item-6, .before-after-item-9{
        margin-right: 105px;
    }

    .before-after-item-1, .before-after-item-2, .before-after-item-3{
        top: 20px;
    }

    .before-after-item-4, .before-after-item-5, .before-after-item-6{
        top: 150px;
    }

    .before-after-item-7, .before-after-item-8, .before-after-item-9{
        top: 275px;
    }
}

.top-contact-dropdown .dropdown-menu.show{
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: none;
    padding: 0.25rem 0;
    margin-top: .2rem;
    min-width: auto;
}

.top-contact-dropdown .dropdown-menu.show .dropdown-item{
    color: #3e3e3e;
    padding: .25rem 1rem;
}

.navbar[data-sticky=top].scrolled.navbar-light .top-contact-dropdown svg *{
    fill: #000;
}

.home-slider{
    position: relative;
}

.home-slider .carousel-cell {
    width: 100%;
    max-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-slider .carousel-cell img {
    display: block;
}

.home-slider .divider{
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.faq-carousel.highlight-selected .carousel-cell:not(.is-selected) {
    transform: scale(.8);
    opacity: 1;
}

.faq-carousel.highlight-selected .carousel-cell:not(.is-selected) .card{
    border-color: transparent;
    background: #e3f3ec;
}

.faq-carousel .card{
    border-radius: 20px;
    border: 2px solid #046865;
}

.faq-carousel .carousel-cell{
    width: 280px;
}

.dropdown-menu{
    left: auto;
    right: 0;
    text-align: right;
}

.blog-item.card{
    min-height: 400px;
}

.blog-item-sm.card{
    min-height: 300px;
}

.blog-item-sm.card .blog-image{
    min-height: 200px;
}

.process-vertical li{
    align-items: flex-start;
}

.process-circle:empty.bg-primary {
    background: rgba(72, 191, 132, .1)!important;
}

.process-vertical li:not(:last-child) {
    padding-bottom: 0;
    height: 90px;
}

.process-vertical li:not(:last-child):after {
    content: '';
    display: block;
    width: 1px;
    height: 3rem;
    background: #dee2e6;
    position: absolute;
    top: 3.9rem;
    right: 1.4rem;
}

@media (min-width: 768px){
    .process-vertical li:not(:last-child){
        height: 128px;
    }

    .process-vertical li:not(:last-child):after {
        top: 4rem;
    }
}

.blog-item.card:not(.has-footer) .overlay:after{
    border-radius: .625rem;
}

.blog-item.card.has-footer img.rounded{
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.blog-item.card .blog-image{
    min-height: 400px;
}

.text-light .breadcrumb-item+.breadcrumb-item:before {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.blog-image-sm{
    width: 80px;
    height: 80px;
    min-height: auto!important;
}

.article{
    text-align: justify;
}

.article-progress{
    top: 60px!important;
}

@media(max-width: 1200px){
    .article-progress{
        top: 58px!important;
    }
}

.pagination{
    padding: 0;
}

.page-link{
    padding: .75rem 0.65rem;
}

.pricing-table-competitors .competitor-logo{
    max-height: 40px;
}

@media (min-width:576px) {
    .border-sm-0 {border:none!important;}
    .border-left-sm-0 {border-left:none!important;}
    .border-right-sm-0 {border-right:none!important;}
    .border-sm-left {border-left: 1px solid #dee2e6!important}
    .border-sm-right {border-right: 1px solid #dee2e6!important}
}

@media (min-width:768px) {
    .border-md-0 {border:none!important;}
    .border-left-md-0 {border-left:none!important;}
    .border-right-md-0 {border-right:none!important;}
    .border-md-left {border-left: 1px solid #dee2e6!important}
    .border-md-right {border-right: 1px solid #dee2e6!important}
}

@media (min-width:992px) {
    .border-lg-0 {border:none!important;}
    .border-left-lg-0 {border-left:none!important;}
    .border-right-lg-0 {border-right:none!important;}
    .border-lg-left {border-left: 1px solid #dee2e6!important}
    .border-lg-right {border-right: 1px solid #dee2e6!important}
}

@media (min-width:1200px) {
    .border-xl-0 {border:none!important;}
    .border-left-xl-0 {border-left:none!important;}
    .border-right-xl-0 {border-right:none!important;}
    .border-xl-left {border-left: 1px solid #dee2e6!important}
    .border-xl-right {border-right: 1px solid #dee2e6!important}
}

.r-180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* mehrzad */
.flickity-page-dots {
    display: none;
}

svg.bg-light * {
    /*fill: #fff;*/
}

svg.bg-light.white * {
    fill: #f8f9fa;
}

.bg-primary-2-alt {
    background-color: #1a73e812;
}

[class*="hover-shadow"]:hover {
    transform: translate3d(4px,-4px,0) rotateZ(1deg);
}

.lead {
    font-size: 1.1rem;
}

.pricing-table-competitors .h6 {
    font-size: 0.9rem;
}

.btn-outline-light:hover * {
    fill: #212529 !important;
}

footer a {
    font-weight: 400;
}

.pricing-table td, .pricing-table th {
    padding: 1rem;
}

.pricing-table .icon-round.icon-round-xs{
    width: 1.3rem;
    height: 1.3rem;
}

.pricing-table .icon-round.icon-round-xs > .icon {
    line-height: 1rem;
}

section {
    padding: 5rem 0;
}

.rounded-sm, img.rounded-sm {
    border: 1px solid #d2d2d2;
}

.rounded-sm, img.rounded-sm:hover {
    border: 1px solid #d2d2d2;
}

.form-group label {
    color: #666;
}

.required {
    color: #ff1744;
}

.btn-lg.btn-free-trial {
    padding: .875rem 1.25rem;
    font-size: 1.1rem;
}

.faq-carousel img {
    max-width: 5rem;
    margin: 0 auto;
}

footer {
    padding: 5rem 0;
}

/*#footer .icon.icon-lg {*/
/*    height: 10rem !important;*/
/*}*/

.btn-glowing-white:hover {
    background-color: #fff;
    color: #333 !important;
    border-color: #333 !important;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.59);
}

.icon-round.bg-primary {
    background: rgba(30, 136, 229, 0.19) !important;
}

svg.bg-info * {
    fill: #1a73e8;
}

.navbar .navbar-brand img {
    max-width: 200px;
}

svg.icon * {
    fill: #1a73e6;
}
/* mehrzad */
