/*@font-face {*/
/*    font-family: persian;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: url('../fonts/persian-fn-bold.woff') format('woff'),*/
/*    url('../fonts/persian-fn-bold.woff2') format('woff2'),*/
/*    url('../fonts/persian-fn-bold.ttf') format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: persian;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url('../fonts/persian-fn.woff') format('woff'),*/
/*    url('../fonts/persian-fn.woff2') format('woff2'),*/
/*    url('../fonts/persian-fn.ttf') format('truetype');*/
/*}*/

/*body {*/
/*    direction: rtl;*/
/*}*/

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

body, .tooltip, .popover {
    font-family: 'persian', Tahoma, Arial;
}

/*body{*/
/*    text-align: right;*/
/*}*/

.bg-gradient{
    /*background: linear-gradient(to left, #1a73e8, #046865) !important;*/
    background: linear-gradient(to right, #0f1121, #0a3fff) !important;
}

.bg-navbar{
    background: #0b1747 !important;
}

/*.btn-group>.btn-group:first-child>.btn, .btn-group>.btn:first-child:not(.dropdown-toggle){*/
/*    border-top-right-radius: 100px;*/
/*    border-bottom-right-radius: 100px;*/
/*    border-top-left-radius: 0;*/
/*    border-bottom-left-radius: 0;*/
/*}*/

/*.btn-group>.btn-group:last-child>.btn, .btn-group>.btn:last-child{*/
/*    border-top-left-radius: 100px;*/
/*    border-bottom-left-radius: 100px;*/
/*    border-top-right-radius: 0;*/
/*    border-bottom-right-radius: 0;*/
/*}*/

/*.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn-group:not(:first-child)>.btn{*/
/*    border-radius: 0;*/
/*}*/

/*.list-unstyled{*/
/*    padding-right: 0;*/
/*    padding-left: 40px;*/
/*}*/

/*.btn.back-to-top{*/
/*    right: auto;*/
/*    left: 1.5rem;*/
/*}*/





/*.process-vertical li .process-circle {*/
/*    margin-right: 0;*/
/*    margin-left: 1.5rem*/
/*}*/

/*.process-vertical li:not(:last-child):after {*/
/*    right: 1.4rem;*/
/*}*/

/*@media (min-width:768px) {*/
/*    .process-vertical li {*/
/*        margin-left: 0;*/
/*        margin-right: 50%*/
/*    }*/
/*    .process-vertical li .process-circle {*/
/*        margin-right: -1.5rem;*/
/*        margin-left: 1.5rem*/
/*    }*/
/*    .process-vertical li:nth-child(even) {*/
/*        text-align: left;*/
/*        margin-left: 50%;*/
/*        margin-right: 0*/
/*    }*/
/*    .process-vertical li:nth-child(even) .process-circle {*/
/*        margin-right: 1.5rem;*/
/*        margin-left: -1.5rem*/
/*    }*/
/*    .process-vertical li:not(:last-child):after {*/
/*        right: auto;*/
/*    }*/
/*}*/

/*.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {*/
/*    border-radius: 0 .3125rem .3125rem 0;*/
/*}*/

/*.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {*/
/*    border-radius: .3125rem 0 0 .3125rem;*/
/*}*/

/*.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {*/
/*    border-radius: .3125rem 0 0 .3125rem;*/
/*    border-right: none;*/
/*}*/

/*.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {*/
/*    border-radius: 0 .3125rem .3125rem 0;*/
/*    border-left: none;*/
/*}*/

/*.page-item:first-child .page-link{*/
/*    border-radius: 0 .3125rem .3125rem 0;*/
/*}*/

/*.page-item:last-child .page-link{*/
/*    border-radius: .3125rem 0 0 .3125rem;*/
/*}*/

/*!* mehrzad *!*/
/*.hover-arrow::after {*/
/*    display: inline-block;*/
/*    margin-left: 0;*/
/*    margin-right: .375rem;*/
/*    transition: transform .2s ease;*/
/*    content: '-->';*/
/*}*/

/*.hover-arrow:hover::after {*/
/*    transform: translate3d(-6px, 0, 0);*/
/*}*/

/*.nav {*/
/*    padding-right: 0;*/
/*}*/

/*.nav.flex-column .nav-link {*/
/*    padding-right: 0;*/
/*}*/
/* mehrzad */
